<!DOCTYPE htyml>
<html>
  <head>
    <title>{{app}} : {{title}}</title>
    <link media="all" rel="stylesheet" href="https://unpkg.com/papercss/dist/paper.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <main class="paper">
      <h1>{{title}}</h1>
